server:
  port: 8082

spring:
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: users-status-check
              uri: http://localhost:2828
              predicates:
              - Path=/users/status/check
              - Method=GET